<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi esse eveniet rerum, blanditiis! Recusandae doloremque consequatur velit reiciendis, sed incidunt.</p>
    </div>
</section>