
    
<div class="jumbotron mt-4">
    
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente minima cupiditate aspernatur, mollitia natus debitis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis soluta excepturi praesentium nihil debitis reiciendis vitae eveniet vero nesciunt voluptatum.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
    
</div>
